:root {
    /* Colors */
    --primary-purple: #5856D6;
    --light-purple: #e6e6fa;
    --white: #FFF;
    --black: #000;
    --light-gray: #f1f1f1;
    --dark-gray: #333;
    --medium-gray: #666;
    --light-medium-gray: #999;
    --border-gray: #ddd;

    /* Font sizes */
    --find-user-font-size-extra-small: 12px;
    --find-user-font-size-small: 14px;
    --find-user-font-size-medium: 16px;
    --find-user-font-size-large: 18px;
    --find-user-font-size-extra-large: 24px;
}

.app-icon {
    display: block;
    margin: 0 auto 0px; 
    width: 80px; 
    height: 80px; 
}

.container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
    border-radius: 30px;
    width: 100%;
    height:auto;
    max-width: 600px;
    box-shadow: 0px 0px 24px hsla(0, 0%, 0%, 0.25);
    position: relative;
    animation: fadeIn 0.5s ease-out;
}

button {
    border: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.container {
    background-color: var(--white);
    padding: 35px 40px;
    border-radius: 30px;
    width: 100%;
    height:auto;
    max-width: 600px;
    box-shadow: 0px 0px 24px hsla(0, 0%, 0%, 0.25);
    position: relative;
    animation: fadeIn 0.5s ease-out;
}

button {
    border: none;
}

.icon-container-position {
    position: absolute;
    top: 2px;
    display: flex;
    align-items: center;
}

.icon-container-position:first-child {
    left: 0px;
}

.icon-container-position:last-child {
    right: 0px;
}

.icon-container {
    background: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.icon-container:hover {
    background: var(--primary-purple);
}

.back-icon,
.forward-icon {
    width: 24px;
    height: 24px;
}

.back-icon {
    padding-right: 2px;
}

.forward-icon {
    padding-left: 2px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.page-title {
    font-size: var(--find-user-font-size-extra-large);
    font-weight: 600;
    color: var(--dark-gray);
    text-align: center;
    margin: 0;
}

.found-user-wrapper {
    display: block;
    width: 400px;
    margin: 15px 0px 20px 0px;
    min-height: 200px;
    border-radius: 30px;
    background: var(--light-gray);
    transition: all 0.3s ease-out;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.placeholder-message {
    display: flex;
    align-items: center;
    padding: 90px 20px;
}

.placeholder-message p {
    opacity: 48%;
}

.search-form-wrapper {
    position: relative;
}

.full-input-container {
    display: block;
}

.input-container {
    background: var(--light-gray);
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0;
    margin: 0px 20px 0px 20px;
    width: 90%;
    box-shadow: 0px 0px 8px rgba(0, 0, 255, 0.2);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-container input {
    background: var(--light-gray);
    width: 100%;
    font-size: var(--find-user-font-size-medium);
    padding: 8px 8px 8px 30px;
    font-family: 'Poppins';
    border-radius: 30px;
    border: 2px solid transparent;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-container input:focus {
    border-color: var(--primary-purple);
    box-shadow: 0px 0px 8px rgba(128, 0, 128, 0.336);
}

.search-icon-wrapper {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1;
}

.input-container input:focus+.search-icon-wrapper {
    transform: translateY(-50%) translateX(-320px);
}

.input-container input:not(:focus):placeholder-shown+.search-icon-wrapper {
    transform: translateY(-50%) translateX(0);
}

.input-container input:not(:focus):not(:placeholder-shown)+.search-icon-wrapper {
    transform: translateY(-50%) translateX(-320px);
}

.search-icon-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-icon-wrapper:hover {
    background: none;
}

.search-icon-img {
    width: 15px;
    height: 15px;
}

.suggestion-list {
    position: absolute;
    top: calc(90% + 8px);
    left: 0;
    width: 95%;
    border-radius: 15px;
    margin-left: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-list li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.suggestion-list li:hover {
    background-color: #f0f0f0;
}

.confirmation-message {
    display: flex;
    padding: 10px 10px 0px 10px;
    align-items: center;
    margin-top: 10px;
    font-size: var(--find-user-font-size-extra-small);
    font-weight: 500;
    color: var(--primary-purple);
    justify-content: center;
}

.user-card {
    background: var(--white);
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    position: relative;
    animation: fadeIn 0.5s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card:hover {
    background: var(--light-purple);
    transform: scale(1.01);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.user-card-image {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    margin-right: 15px;
}

.user-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-card-details {
    display: flex;
    flex-direction: column;
}

.user-card-details h3 {
    margin: 0;
    font-size: var(--find-user-font-size-large);
    color: var(--dark-gray);
}

.user-card-details p {
    margin: 0;
    font-size: var(--find-user-font-size-small);
    color: var(--medium-gray);
}

.input-container input::placeholder {
    color: var(--light-medium-gray);
    font-size: var(--find-user-font-size-medium);
    opacity: 1;
}