@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* ------------------------------------------------
             Root Variables for Colors, Sizes, and Fonts
--------------------------------------------------- */
:root {
  --primary-color: #5856D6;
  --primary-hover: #4A49B7;
  --secondary-color: #7A79E0;
  --input-bg-color: #f1f1f1;
  --input-focus-border: #5856D6;
  --input-label-color: #666666;
  --input-label-focus: #7A79E0;
  --text-color: #555555;
  --box-shadow-color: hsla(0, 0%, 0%, 0.25);
  --container-bg-color: #FFF;
  --border-radius: 30px;
  --font-family: 'Poppins', sans-serif;
  --font-size-normal: 15px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;
  --animation-duration: 0.5s;
}

/* ------------------------------------------------
                   Reset and Box Sizing
--------------------------------------------------- */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------
             General Container Styles
--------------------------------------------------- */
.login-page-container,
.general-page-container {
  background-color: var(--container-bg-color);
  padding: 35px 40px;
  border-radius: var(--border-radius);
  width: 450px;
  max-width: 700px; /* Consistent max-width */
  box-shadow: 0 0 24px var(--box-shadow-color);
  position: relative;
  animation: fadeIn var(--animation-duration) ease-out;
}

.login-page-app-icon {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.general-page-container > h1 {
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
}

.general-page-container > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ------------------------------------------------
             Form Group and Input Styles
--------------------------------------------------- */
.login-page-form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 12px;
}

input {
  background: var(--input-bg-color);
  width: 100%;
  font-size: var(--font-size-normal);
  padding: 10px 14px;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.2s ease;
}

input::placeholder {
  color: transparent;
}

.login-page-form-label {
  position: absolute;
  left: 15px;
  top: 12px;
  color: var(--input-label-color);
  /* background-color: var(--container-bg-color); */
  padding: 0 5px;
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  font-family: var(--font-family);
  transition: 0.3s;
  font-weight: 500;
}

input:focus {
  border: 2px solid var(--input-focus-border);
  background-color: var(--container-bg-color);
}

input:focus + .login-page-form-label,
input:not(:placeholder-shown) + .login-page-form-label {
  top: -8px;
  left: 15px;
  font-size: var(--font-size-xsmall);
  color: var(--input-label-focus);
  background: var(--container-bg-color);
}

/* ------------------------------------------------
                   Button Styles
--------------------------------------------------- */
.login-page-submit-button {
  display: block;
  margin: 0 auto 5px;
  background-color: var(--primary-color);
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family);
  width: 110px;
  color: white;
  border-radius: var(--border-radius);
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-page-submit-button:hover {
  background-color: var(--primary-hover);
}

.login-page-navigation-link {
  margin: 0 auto 15px;
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  font-weight: 500;
  text-decoration: none;
  padding: 0;
  transition: color 0.3s ease;
}

.login-page-navigation-link:hover {
  color: var(--input-label-focus);
}

.login-page-info-text {
  font-size: var(--font-size-small);
  margin: 0 auto;
}
