/* ------------------------------------------------
   Fade-In Animation from Bottom
   This animation fades in an element while moving it up from below.
--------------------------------------------------- */
@keyframes fadeInBottomEffect {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-bottom {
    animation: fadeInBottomEffect 0.5s ease-out;
}

@keyframes fadeInEffect {
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeInOverlay 0.3s ease-in-out forwards;
}

@keyframes fadeInforprofile {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.fade-in-center {
    animation: fadeInforprofile 0.3s ease-in-out;
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(10px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.scale-in {
    animation: scaleIn 0.3s ease-out forwards;
}

@keyframes fadeInOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInCenterProfile {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.fade-in-center-profile {
    animation: fadeInCenterProfile 0.3s ease-in-out;
}

@keyframes optionsSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.document-options {
    animation: optionsSlideIn 0.3s ease-out;
}

@keyframes loginFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-fade-in {
    animation: loginFadeIn 0.5s ease-out forwards;
}
