/* PasswordStrengthMeter.css */

.password-criteria {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .criteria-item {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    margin-bottom: 0.2rem;
  }
  
  .criteria-item span {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
  }
  
  .criteria-item .icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
  }
  
  .criteria-item .icon.check {
    color: #10b981; /* Tailwind green-500 */
  }
  
  .criteria-item .icon.x {
    color: #ef4444; /* Tailwind red-500 */
  }
  
  .strong-text {
    color: #10b981; /* Tailwind green-600 */
  }
  
  .weak-text {
    color: #ef4444; /* Tailwind red-600 */
  }
  
  .meter {
    margin: 15px 10px 2px 10px;
  }
  
  .meter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
  }
  
  .meter-header span {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
  }
  
  .meter-bar {
    display: flex;
    gap: 0.5rem;
  }
  
  .meter-bar div {
    height: 0.5rem;
    width: 25%;
    border-radius: 9999px;
    background: #f1f1f1;
    transition: background-color 0.3s;
  }
  
  .meter-bar div.weak {
    background-color: #ef4444; /* Tailwind red-500 */
  }
  
  .meter-bar div.fair {
    background-color: #f59e0b; /* Tailwind yellow-500 */
  }
  
  .meter-bar div.good {
    background-color: #fbbf24; /* Tailwind yellow-400 */
  }
  
  .meter-bar div.strong {
    background-color: #10b981; /* Tailwind green-500 */
  }
  
  